
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: normal;
  src: local('Orbitron'), url('./Orbitron Medium.ttf') format('truetype');
}


body {
  margin: 0;
  font-family: Orbitron;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:Orbitron;
}
