* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //width: 100%;
    //height: 100%;
}
.app {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2f363e;
    //width: 100%;
    height: 100vh;
}

